body {

}

.parallax-container {
    position: relative;
    height: 840px;
    background-image: linear-gradient(#FEDCC8 0px, #FEDCC8 518px);
}

.parallax-item {
    background-position: bottom center;
    background-size: 3000px 455px;
    background-repeat: repeat-x;
    position: fixed;
    height: 840px;
    width: 100%;
    transform: translate3d(0, 0, 0);
}

.parallax-item-0 { background-image: url(../img/parallax0.png); }
.parallax-item-1 { background-image: url(../img/parallax1.png); }
.parallax-item-2 { background-image: url(../img/parallax2.png); }
.parallax-item-3 { background-image: url(../img/parallax3.png); }
.parallax-item-4 { background-image: url(../img/parallax4.png); }
.parallax-item-5 { background-image: url(../img/parallax5.png); }
.parallax-item-6 { background-image: url(../img/parallax6.png); }

.main {
    position: relative;
    background: #2D1229;
    color: white;
    margin: 0;
    padding: 100px 5% 50px;
}

p {
    margin: 25px 0;
}


/*section {
    position: relative;
    height: 100%;
    border-top: 1px solid red;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.section1 .bg { background-image: url(http://lorempixel.com/1024/768/city/1);}
.section2 .bg { background-image: url(http://lorempixel.com/1024/768/city/2);}
.section3 .bg { background-image: url(http://lorempixel.com/1024/768/city/3);}
.section4 .bg { background-image: url(http://lorempixel.com/1024/768/city/4);}
.section5 .bg { background-image: url(http://lorempixel.com/1024/768/city/5);}

h1 {
    position: relative;
    z-index: 100;
    color: white;
    text-shadow: 0px 0px 5px black;
}*/